.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: $brd-radius-4;
  background-color: #ffffff;

  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);

  &__title {
    margin-bottom: 12px;

    font-family: $Prime-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }

  &__form-field {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__input-icon {
    position: absolute;
    top: 29px;
    left: 12px;

    fill: #212121;
  }

  &__comment-field {
    padding: 12px 16px;
    width: 448px;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: $brd-radius-4;
    resize: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &__form-check {
    margin-top: 20px;
  }
  &__agreement {
    color: #2196f3;
  }
  &__visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  &__check-box {
    @extend %flex-center;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-right: 8.38px;
    width: 16px;
    height: 15px;
    border-radius: $brd-radius-2;
    border: 2px solid #212121;
    overflow: hidden;
  }
  &__check-text {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 1px;

    font-size: 14px;
    line-height: 1.71;
    margin-left: 8.38px;

    letter-spacing: 0.03em;
    color: #757575;
  }
}

.modal__field-name {
  margin-bottom: 4px;

  font-family: $Prime-font;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;

  &::placeholder {
    display: inline-block;
    padding-left: 16px;
    padding-top: 12px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__input-check {
  margin-left: 12px;
  width: 16px;
  height: 15px;
  background: #212121;

  & input[type='checkbox'] {
    width: 16px;
    height: 15px;

    background: #212121;
  }

  &:checked + .modal__check-text span {
    background-color: #2196f3;
    border: none;
  }
}

.modal__input-field {
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: $brd-radius-4;
  outline: none;

  &:focus,
  .modal__comment-field:focus {
    border: 1px solid #2196f3;
    transition: c#2196f3 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus ~ .modal__input-icon {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*----Кастомный чекбокс----*/

.modal__check-icon {
  fill: #ffffff;

  .modal__input-check:checked + & {
    background-color: #2196f3;
  }
}

textarea {
  outline: none;
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;

  &:hover,
  &:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .modal {
//   position: absolute;
//   width: 528px;
//   height: 581px;
//   top: 50%;
//   left: 50%;
//   padding: 40px;
//   transform: translate(-50%, -50%) scale(1);
//   border-radius: 4px;
//   background-color: #ffffff;

//   transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .modal__close-btn:hover,
// .modal__close-btn:focus {
//   color: #2196f3;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal__title {
//   margin-bottom: 12px;

//   font-family: Roboto;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   text-align: center;
//   letter-spacing: 0.03em;

//   color: #212121;
// }

// .modal__form-field {
//   position: relative;

//   display: flex;
//   flex-direction: column;
//   margin-bottom: 10px;
// }

// .modal__field-name {
//   margin-bottom: 4px;

//   font-family: Roboto;
//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;

//   color: #757575;
// }

// .modal__input-icon {
//   position: absolute;
//   top: 29px;
//   left: 12px;

//   fill: #212121;
// }

// .modal__comment-field {
//   padding: 12px 16px;
//   width: 448px;
//   height: 120px;

//   border: 1px solid rgba(33, 33, 33, 0.2);
//   box-sizing: border-box;
//   border-radius: 4px;
//   resize: none;

//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;

//   color: rgba(117, 117, 117, 0.5);
// }
// .modal__field-name::placeholder {
//   display: inline-block;
//   padding-left: 16px;
//   padding-top: 12px;

//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;

//   color: rgba(117, 117, 117, 0.5);
// }

// .modal__form-check {
//   margin-top: 20px;
// }

// .modal__input-check {
//   margin-left: 12px;
//   width: 16px;
//   height: 15px;

//   background: #212121;
// }

// .modal__input-check input[type='checkbox'] {
//   width: 16px;
//   height: 15px;

//   background: #212121;
// }

// .modal__close-btn {
//   position: absolute;
//   width: 30px;
//   height: 30px;
//   top: 8px;
//   right: 8px;
//   border-radius: 50%;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   background: #ffffff;
// }

// .modal__input-check:checked + .modal__check-text span {
//   background-color: #2196f3;
//   border: none;
// }

// .modal__agreement {
//   color: #2196f3;
// }

// .modal__input-field {
//   padding-left: 42px;
//   width: 448px;
//   height: 40px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   box-sizing: border-box;
//   border-radius: 4px;
//   outline: none;
// }
// .modal__input-field:focus,
// .modal__comment-field:focus {
//   border: 1px solid #2196f3;
//   transition: c#2196f3 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal__input-field:focus ~ .modal__input-icon {
//   fill: #2196f3;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// /*----Кастомный чекбокс----*/

// .modal__check-text {
//   display: flex;
//   align-items: center;
//   margin-top: 10px;
//   margin-right: 1px;

//   font-size: 14px;
//   line-height: 1.71;
//   margin-left: 8.38px;

//   letter-spacing: 0.03em;
//   color: #757575;
// }

// .modal__check-icon {
//   fill: #ffffff;
// }

// .modal__input-check:checked + .modal__check-icon {
//   background-color: #2196f3;
// }

// .modal__visually-hidden {
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   margin: -1px;
// }

// .modal__check-box {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-right: 8.38px;
//   width: 16px;
//   height: 15px;
//   border-radius: 2px;
//   border: 2px solid #212121;
//   overflow: hidden;
// }

// textarea {
//   outline: none;
// }
