.project-catalog {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;

  &__image {
    position: relative;
    overflow: hidden;
  }

  &__discr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
  }

  &__project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
  }

  &__project-type {
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);
  }

  &__project-title {
    border: 1px solid #eeeeee;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
  }
}

.project-catalog__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;

  background: #ffffff;
  transition: #ffffff 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:hover .project-catalog__discr {
    transform: translateY(0%);
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-last-child(3n) {
    margin-bottom: 30px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

img {
  display: block;
  width: 100%;
}
