.section-team {
  background: #f5f4fa;
}

.crew {
  display: flex;
  margin-left: -30px;

  &__card {
    margin-top: 50px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);

    background: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.crewmembers {
  padding-top: 30px;
  text-align: center;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $title-color;
  }

  &__positon {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $text-color;
  }
}
