.subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 72px;
  margin-bottom: 94px;
  margin-left: 93px;

  &__form {
    display: flex;
    align-items: center;
  }
}

.subscription__mail-field {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2f303a;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: $brd-radius-4;

  &::placeholder {
    width: 47px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  & + .subscription-btn {
    margin-left: 12px;
  }
}

.subscription-btn {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  @extend %flex-center;
  // display: flex;
  // align-items: center;
  // text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  &__icon {
    margin-left: 10px;

    fill: #ffffff;
  }
}
